# Files
.DS_Store
*.lock
*.test
*.out
*.swp
*.swo
*.db
*.exe
*.exe~
*.dll
# *.so
*.dylib
*.log
*.rej
*.orig
go.work
go.work.*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.*
*.local.json

# Dirs
/.idea
/.vscode
/.kube
/.vagrant
/.bundle
/.cache
/.docker
/.entc
/.sbin
/.dist
/log
/certs
.terraform
